<h1>API 8: Numero Medio delle Rate delle Richieste tra Due Date</h1>
<form (ngSubmit)="getAverageRateByDateRange()">
  <mat-form-field>
    <input matInput placeholder="Data Minima" [(ngModel)]="dataMin" name="dataMin" type="date" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Data Massima" [(ngModel)]="dataMax" name="dataMax" type="date" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Calcola</button>
</form>

<div *ngIf="avgRate !== null" class="result">
  <h2>Numero Medio delle Rate: {{ avgRate }}</h2>
</div>
